{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h2>Please copy and paste the review below, or write one yourself!</h2>
        <h5>(For most accurate prediction, please write at least 20 words)</h5>
        <form action="/start" method="post">
            <label for="comments"></label><textarea name="mail" id="comments" style="width:96%;height:90px;border:none;padding:2%;font:22px/30px sans-serif;"></textarea>
            <input type="submit" value="Submit" style="background-color:yellowgreen;color:white;font-size:18px;border:none;padding:8px;">
        </form>
    </div>
</div>
{% endblock %}
