<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href = "/">Yelp Analysis</a>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/start">Input Text</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/whitepaper">Whitepaper</a>
      </li>
    </ul>

  </div>
</nav>